<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elift.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>elift</name>
    <description>
        Elift
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#1976d2" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    <preference name="android-build-tool" value="gradle" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-ldpi-small-icon.png" target="res/mipmap-ldpi/small_icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-mdpi-small-icon.png" target="res/mipmap-mdpi/small_icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-hdpi-small-icon.png" target="res/mipmap-hdpi/small_icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-xhdpi-small-icon.png" target="res/mipmap-xhdpi/small_icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-xxhdpi-small-icon.png" target="res/mipmap-xxhdpi/small_icon.png" />
        <resource-file src="www/res/icon-small/android/drawable-xxxhdpi-small-icon.png" target="res/mipmap-xxxhdpi/small_icon.png" />
        <icon density="ldpi" src="www/res/small-icon/android/drawable-ldpi-small-icon.png" />
        <icon density="mdpi" src="www/res/small-icon/android/drawable-mdpi-small-icon.png" />
        <icon density="hdpi" src="www/res/small-icon/android/drawable-hdpi-small-icon.png" />
        <icon density="xhdpi" src="www/res/small-icon/android/drawable-xhdpi-small-icon.png" />
        <icon density="xxhdpi" src="www/res/small-icon/android/drawable-xxhdpi-small-icon.png" />
        <icon density="xxxhdpi" src="www/res/small-icon/android/drawable-xxxhdpi-small-icon.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="qAfV1AfDjTkj1GtrKyhIVxB707zqBd8R" />
        </config-file>
        <preference name="CodePushDeploymentKey" value="5HVIykMjpt5Mt1HS3AZLYFhHCRZwS1D7-ktQz" />
        <preference name="CodePushPublicKey" value="-----BEGIN PUBLIC KEY-----&#xA;MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4pRqGgOSk3S8YD1mV9Ix&#xA;3vsR+jX5gRYf33YpYf1SAosfyXwdsTcCRDh3/dBSaShwf3dERj8RiR2irFGGPScc&#xA;YQtQMf/knWWFciO8OkZipiBylxPBqr3FVBk+irkMCNSit5OJmjc1iMiDn47QqeXi&#xA;lahdvdnVBTYutoqttDzerN5rCLgHKcXF5gtWhlM6RWYDKHZwXe7QZe1hBSzcVe72&#xA;1J/6dtFtFL7t1VIkRJOVISMT3MWa8E8TLr1yqLupeXijTL3vUE11+jmJp1VZBj0a&#xA;d8lub2qFMDbOcs+VEfpw6aFAGniD40x3jEbY3obMOaN+SE3McK1E/lF9wpOHe3Ww&#xA;mQIDAQAB&#xA;-----END PUBLIC KEY-----&#xA;" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/android/drawable-ldpi-icon.png" width="57" />
        <splash height="480" platform="ios" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" width="320" />
    </platform>
    <access origin="*" />
    <access origin="https://codepush.azurewebsites.net" />
    <access origin="https://codepush.blob.core.windows.net" />
    <access origin="https://codepushupdates.azureedge.net" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="^5.0.2" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="git+https://github.com/cicadabear/phonegap-plugin-barcodescanner.git" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.1" />
    <plugin name="cordova-plugin-geolocation" spec="^3.0.0" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.8.1" />
    <plugin name="cordova-plugin-app-update" spec="^1.4.14" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
    <plugin name="phonegap-plugin-baidulocation" spec="git+https://github.com/CicadaBear/baidulocation-phonegap-plugin.git" />
    <plugin name="cordova-plugin-code-push" spec="^1.11.0" />
    <plugin name="de.neofonie.cordova.plugin.progressview" spec="https://github.com/cicadabear/cordova-plugin-progressview.git" />
    <plugin name="org.pbernasconi.progressindicator" spec="~1.1.0" />
    <plugin name="cordova-plugin-progressindicator" spec="https://github.com/cicadabear/cordova-progressIndicator.git" />
    <plugin name="cordova-plugin-camera" spec="^4.0.1" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-image-picker" spec="^1.1.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="jpush-phonegap-plugin" spec="^3.2.13">
        <variable name="APP_KEY" value="8b36fb34fef479fa9e227f48" />
    </plugin>
</widget>
