<script type="text/html" id="component-tpl">
    <div  class="component-html drag-container {{type}}" {{if index}}data-index="{{index}}"{{/if}} data-item="{{$data}}">
        <li role="separator" class="mdc-list-divider mdc-list-divider"></li>
        {{if classify == 'features'}}{{include 'col-ctrl' , $data}}{{/if}}
        {{if !is_title_hide}}<span class="form-label">{{name}}</span>{{/if}}
        <div class="form-body">
            {{if classify == 'static'}}
                {{include 'class_static',$data}}
            {{/if}}

            {{if classify == 'features'}}
                {{include 'class_features', $data}}
            {{/if}}

            {{if classify == 'hardware'}}
                {{include 'class_hardware', $data}}
            {{/if}}
            
            {{if classify == 'type'}}
                {{include 'class_type', $data}}
            {{/if}}
        </div>
    </div>
</script>


<!--"静态组件"-->
<script type="text/html" id="class_static">
    {{each feilds fitem i}}
        <form class="form-inner">
        
        {{include 'static_field',fitem}}

        {{if is_multiple}}

            {{if i}}
            <button type="button" class="btn-del-group"><i class="fa fa-minus"></i></button>
            {{else}}
            <button type="button" class="btn-copy-group"><i class="fa fa-plus"></i></button>
            {{/if}}
        {{/if}}
        </form>
    {{/each}}
</script>
<!--"静态组件单模块显示总控制"-->
<script type="text/html" id="static_field">
    {{if type == 'TEXT'}}
        {{include 'ele_text',$data}}
    {{/if}}
    
    {{if type == 'NUMERIC'}}
        {{include 'ele_num',$data}}
    {{/if}}

    {{if type == 'TIME'}}
        {{include 'ele_time',$data}}
    {{/if}}

    {{if type == 'BOOL'}}
        {{include 'ele_bool',$data}}
    {{/if}}

    {{if type == 'FILE'}}
        {{include 'ele_file',$data}}
    {{/if}}

    {{if type == 'POSITION'}}
        {{include 'ele_position',$data}}
    {{/if}}

</script>
<!--"静态组件-文字"-->
<script type="text/html" id="ele_text">
    {{if sub_type == 'TEXT-TITLE'}}
   <!--  <input type="text" value="{{value}}" name="value" class="form-input {{sub_type}}" {{disabled}}  {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}}> {{else}}
    <textarea name="value" class="form-input {{sub_type}}" {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}} >{{value}}</textarea> -->
    <a class="mdc-list-item" href="#lift/editNum/registration_code/edit">{{$data.value}}
        <span class="mdc-list-item__end-detail "><i class="material-icons next-edit">keyboard_arrow_right</i></span>
    </a>

    {{/if}}
</script>
<!--"静态组件-数值"-->
<script type="text/html" id="ele_num">
    <input type="number" name="value" value="{{value}}" class="form-input {{sub_type}} form-area" {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}} >
    {{if unit}} 
    <input type="text" name="unit" value="{{unit}}" class="form-input form-area" {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}} > 
    {{/if}}
</script>
<!--"静态组件-时间"-->
<script type="text/html" id="ele_time">
    <i class="fa {{if format == 'DATE' || format == 'DATE-TIME'}}fa-calendar{{else}}fa-clock-o{{/if}} form-inner-icon"></i>
    <input type="text" name="value" value="{{value}}" class="form-input {{sub_type}} form-date" {{if format}} data-format="{{format}}" {{/if}} {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}}  > 
    {{if format == 'INTERVAL'}}
    <select name="unit" class="form-input unit" {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}}  >
        {{each units un i}}
        <option value="{{un.val}}" {{if un.val== unit}}selected{{/if}}>{{un.label}}</option>
        {{/each}}
    </select>
    {{/if}}
</script>
<!--"静态组件-是否"-->
<script type="text/html" id="ele_bool">
<!--     <label>是
        <input type="radio" name="value" value="true" {{if value=='true'}} checked{{/if}} {{disabled}} >
    </label>
    <label>否
        <input type="radio" name="value" value="false" {{if value=='false'}} checked{{/if}} {{disabled}} >
    </label> -->
    <a class="mdc-list-item">关/开
                <span class="mdc-list-item__end-detail basic-switch">
                <section class="example">
                    <div class="mdc-switch">
                        {{if $data.running_status =='TOK'}}{{set checked = 'checked'}}{{/if}}
                        <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" {{checked}} />
                        <div class="mdc-switch__background">
                            <div class="mdc-switch__knob"></div>
                        </div>
                    </div>
                </section>
                </span>
    </a>
</script>
<!--"静态组件-文件"-->
<script type="text/html" id="ele_file">
    <input type="file" value="{{value}}" name="value" class="form-input {{sub_type}}" {{if is_required}} required {{/if}} {{disabled}} >
</script>
<!--"静态组件-位置"-->
<script type="text/html" id="ele_position">
    <!-- <div class="area-place" data-value="{{value}}" >
        <select class="form-input form-area" rel="province" data-link="city" {{if is_readonly}} readonly {{/if}}  {{disabled}} >
            <option>省份</option>
        </select>
        <select class="form-input form-area" rel="city" data-link="area" {{if is_readonly}} readonly {{/if}}  {{disabled}} >
            <option>城市</option>
        </select>
        <select class="form-input form-area" rel="area" name="value" {{if is_readonly}} readonly {{/if}}  {{disabled}} >
            <option>地区</option>
        </select>
    </div>
    <input type="text" name="sub_value" class="form-input {{sub_type}}" value="{{sub_value}}" {{if is_required}} required {{/if}}{{if is_readonly}} readonly {{/if}} {{disabled}}   /> -->
    <a class="mdc-list-item" href="#lift/editNum/registration_code/edit">{{$data.value}} {{$data.sub_value}}
        <span class="mdc-list-item__end-detail "><i class="material-icons next-edit">keyboard_arrow_right</i></span>
    </a>
</script>







<!--功能组件-->
<script type="text/html" id="class_features">
{{each feilds fitem i}}
    <form class="form-inner">
        {{if values}}
        <input type="hidden" name="value" value="{{values[i].value}}">
        {{else}}
        <input type="hidden" name="value" value="">
        {{/if}}
            {{include 'field' , fitem}}
        {{if is_multiple}}
            {{if i}}
            <button type="button" class="btn-del-group"><i class="fa fa-minus"></i></button>
            {{else}}
            <button type="button" class="btn-copy-group"><i class="fa fa-plus"></i></button>
            {{/if}}
        {{/if}}
    </form>
{{/each}}
</script>
<!--硬件组件-->
<script type="text/html" id="class_hardware">
{{each feilds fitem i}}
    
    {{include 'hardware_field',fitem}}

    {{if is_multiple}}
            {{if i}}
            <button type="button" class="btn-del-group"><i class="fa fa-minus"></i></button>
            {{else}}
            <button type="button" class="btn-copy-group"><i class="fa fa-plus"></i></button>
            {{/if}}
        {{/if}}
{{/each}}
</script>
<!--特型组件-->
<script type="text/html" id="class_type">
    {{each feilds fitem i}}
    {{include 'type_field',fitem}}
    {{if is_multiple}}
            {{if i}}
            <button type="button" class="btn-del-group"><i class="fa fa-minus"></i></button>
            {{else}}
            <button type="button" class="btn-copy-group"><i class="fa fa-plus"></i></button>
            {{/if}}
        {{/if}}
    {{/each}}
</script>